.edu-year {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  color: rgba(10, 10, 10, 0.75);
}

.edu-degree {
  font-size: 14px;
  font-weight: 500;
  color: #0A0A0A;
}

.edu-school {
  font-size: 14px;
  font-weight: 400;
  color: rgba(10, 10, 10, 0.75);
}