.loading-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  /* Make sure your background variable matches the beige/white from your screenshot */
  background: #13131A;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loading-inner {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.blob-container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 0;
  /* Ensures they share edges exactly */
  position: absolute;
  inset: 0;
  z-index: 1;
}

.blob {
  height: 100%;
  flex: 1;
  /* Prevents blobs from collapsing completely during intense elastic overshoots */
  background-color: #0393FE;
  border-radius: 50%;
  will-change: transform;
}

/* Big text hovering over everything */
.loading-text-big {
  position: relative;
  z-index: 2;
  font-size: 5rem;
  font-weight: 400;
  color: #13131A;
  text-align: center;
  padding: 0 20px;
  pointer-events: none;
  font-family: 'Pardon 4x4';
  letter-spacing: 0em;
}

@media (max-width: 48em) {
  .loading-text-big {
    font-size: 1.8rem;
  }
}

.loading-cursor {
  display: inline-block;
  margin-left: 6px;
  font-weight: 300;
  animation: cursorBlink 0.8s infinite;
  color: #13131A;
  font-family: 'Pardon 4x4' !important;
}

@keyframes cursorBlink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}